<!DOCTYPE html>
<html>

    <head>
        <% include ../static/partials/head.ejs %>
    </head>

    <body>

        <% include ../static/partials/navbar.ejs %>

        <main class="container">
            <hr>
            <hr>
            

            <% include ../static/partials/messages.ejs %>

            <h5>Do you want to drowngrade?</h5>
<hr>
            <form action="/users/<%= user.id %>/downgrade" method="POST">
                <button type="Submit" class="btn btn-warning">YES!</button>
            </form>

        </main>

        <% include ../static/partials/baseScripts.ejs %>

    </body>

</html>