<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>


      <h1><%= `${user.username}'s profile` %></h1>

      <hr> 

      <h4 class="container">Your Account Status is : <%= user.role %> </h4>

      
        <%  if(currentUser && currentUser.isPremium()) {  %>
                <a href="/users/<%= user.id %>/downgrade" class="btn btn-primary btn-lg"> Downgrade to Standard</a>
                <h4 class = "card-text">You will not able to create Private Wiki with Standard Package.</h4>
        <% } %>

        <% if(currentUser && !currentUser.isPremium()) { %>
            <h4 class = "card-text">Upgrade your account to premium so that you can create the private wikis.</h4>
            <a href="/users/<%= user.id %>/upgrade" class="btn btn-primary btn-lg">Upgrade to Premium</a>
            <% } %>
     

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>

